body{
  margin: 0;
  padding: 0;
  background: #f1f1f1;
}
.contact-form{
  background: white;
  position: absolute;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.header{
  width: 100%;
  background: #2196f3;
  overflow: hidden;
  color: white;
}
.header span{
  font-size: 100px;
  display: block;
  text-align: center;
  padding: 40px;
}
.contact{
  padding: 10px;
  overflow: hidden;
  font-family:'montserrat',sans-serif;
  color: gray;
}
.contact label{
  font-weight: 700;
}
.texti{
  width: 100%;
  border: none;
  border-bottom: 2px solid #2196f3;
  font-size: 20px;
  display: block;
  outline: none;
  color: gray;
  margin: 8px 0;
}
.textm{
  width: 100%;
  border: none;
  border-bottom: 2px solid #2196f3;
  font-size: 20px;
  display: block;
  outline: none;
  color: gray;
  margin: 8px 0;
min-height: 100px;

}
.btn{
  width: 100%;
  color: white;
  padding: 10px;
  text-align: center;
  background: #2196f3;
}
